* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px*8);
    height: calc(64px*8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: rgb(31, 128, 128);
}

.white {
    background-color: rgb(211, 146, 81);
}

.selected {
    background-color: rgba(115, 38, 38, 0.615);
}

.available {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(218, 228, 77, 0.433);
}

.available-to-attack {
    filter: brightness(1.7);
}